body {
    background-color: black;
    
}
#logo{
    width: 80%;
}
#realm{
    /*argin-top: 3px;*/
    padding-top: 3px;
    padding-bottom: 3px;
    color: darkgoldenrod;
    height: 50%;
    border-bottom: 2px solid #212529;
    border-left: 2px solid #212529;
    border-right: 2px solid #212529;
    /*background-color: aliceblue;*/
}
#botm{
    text-align: center;

}
#pageBanner{
    color: #dce9eb;
    padding: 5px;
    text-align: center;
    
}
#botm a:hover {
    text-decoration: none;
}
input:invalid {
    background-color: #212529;
    color: #dce9eb;
    border: 1px solid black;
    text-align: center;
}
/* Webkit problem color change fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #212529 inset !important;
    -webkit-text-fill-color: #dce9eb !important;
}
input:valid {
    background-color: #212529;
    color: #dce9eb;
    border: 1px solid black;
    text-align: center;
}
input:valid:focus {
    background-color: #212529;
    color: #dce9eb;
    border: 1px solid darkgoldenrod;
    text-align: center;
}
input:invalid:focus {
    background-color: #212529;
    color: #dce9eb;
    border: 1px solid darkgoldenrod;
    text-align: center;
}
#username:focus{
    background-color: darkgoldenrod;
    color: black;
    font-weight: bold;
    text-align: center;
}
/* Webkit problem color change fix */
#username:-webkit-autofill,
#username:-webkit-autofill:hover,
#username:-webkit-autofill:focus,
#username:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px darkgoldenrod inset !important;
    -webkit-text-fill-color: black !important;
}
#username{
    background-color: darkgoldenrod;
    color: black;
    font-weight: bold;
    text-align: center;
}
#usertitle{
    text-align: center;
}
#race{
    background-color: #212529;
    border: none;
    color: #dce9eb;
}
#submit{
    background-color: darkgoldenrod;
    color: black;
    border: 1px solid darkgoldenrod;
}
#submit:hover{
    background-color: #C4910B;
}


.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 134, 11, 0.6);
}
#submit:hover{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(184, 134, 11, 0.6);
}
#modal-newUser .modal-content{
    text-align: center;
    border: 1px solid white;
    background-color: #212529;
    color:white;

}
#modal-newUser .modal-header h5{
    padding-left: 100px;
}
#modal-newUser .modal-header button:hover{
    border: none;
}
#modal-login .modal-content{
    text-align: center;
    border: 1px solid white;
    background-color: #212529;
    color:white;

}
#modal-login .modal-header h5{
    padding-left: 190px;
}
#modal-login input{
    border: 1px solid white;
}
.modal-content{
    text-align: center;
    border: 1px solid white;
    background-color: #212529;
    color:white;

}
#armyNameTag {
    color: darkgoldenrod;
    font-weight: bolder;
}
#armyNameTag:hover{
    color: #d0970b;
    font-weight: bolder;
}
.list-group-item{
    background-color: black;
}
.list-group-item a{
    color: rgba(255,255,255,.5);
    text-decoration: none;
}
.list-group-item a:hover{
    color: #dce9eb;
    font-weight: bold;
    /*transition: all 1s ease-in-out;*/
}

.player-menu{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid #dce9eb;
    border-bottom: 3px solid #dce9eb;
    border-radius: 7px 7px;
    color: rgba(255,255,255,.5);
    text-align: center;
}
.race-pic{
    align-items: center;
    text-align: center;
    padding: 0px;
    margin-top: 5px;
}

/* ORC - MENU */

.orc-pic{
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 250px;
    height: 162px;
    background-image: url("../imgs/orc.gif");
    background-position: center;
    background-repeat: no-repeat;
}
.orc-menu:hover .orc-pic{
    background-image: url("../imgs/orcBright.gif");
    transition: all 1s ease-in-out;
}

.orc-menu:not( :hover ) .orc-pic{
    background-image: url("../imgs/orc.gif");
    transition: all 1s ease-in-out;
}

.orc-menu:hover{
    border-top: 3px solid firebrick;
    border-bottom: 3px solid firebrick;
    transition: all 1s ease-in-out;
}
.orc-menu:not( :hover ){
    border-top: 3px solid #dce9eb;
    border-bottom: 3px solid #dce9eb;
    transition: all 1s ease-in-out;
}

.orc-title{
    color: firebrick;
    font-weight: bold;
}

/* HUMAN - MENU */

.human-pic{
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 218px;
    height: 162px;
    background-image: url("../imgs/human.gif");
    background-position: center;
    background-repeat: no-repeat;
}
.human-menu:hover .human-pic{
    background-image: url("../imgs/humanBright.gif");
    transition: all 1s ease-in-out;
}

.human-menu:not( :hover ) .human-pic{
    background-image: url("../imgs/human.gif");
    transition: all 1s ease-in-out;
}

.human-menu:hover{
    border-top: 3px solid rgba(42, 42, 115, 0.94);
    border-bottom: 3px solid rgba(42, 42, 115, 0.94);;
    transition: all 1s ease-in-out;
}
.human-menu:not( :hover ){
    border-top: 3px solid #dce9eb;
    border-bottom: 3px solid #dce9eb;
    transition: all 1s ease-in-out;
}

.human-title{
    color: rgba(42, 42, 115, 0.94);
    font-weight: bold;
}

/* ELF - MENU */

.elf-pic{
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 230px;
    height: 162px;
    background-image: url("../imgs/elf.gif");
    background-position: center;
    background-repeat: no-repeat;
}
.elf-menu:hover .elf-pic{
    background-image: url("../imgs/elfBright.gif");
    transition: all 1s ease-in-out;
}

.elf-menu:not( :hover ) .elf-pic{
    background-image: url("../imgs/elf.gif");
    transition: all 1s ease-in-out;
}

.elf-menu:hover{
    border-top: 3px solid rgba(47, 121, 16, 0.94);
    border-bottom: 3px solid rgba(47, 121, 16, 0.94);
    transition: all 1s ease-in-out;
}
.elf-menu:not( :hover ){
    border-top: 3px solid #dce9eb;
    border-bottom: 3px solid #dce9eb;
    transition: all 1s ease-in-out;
}

.elf-title{
    color: rgba(47, 121, 16, 0.94);
    font-weight: bold;
}

/* DEAD - MENU */

.dead-pic{
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 218px;
    height: 162px;
    background-image: url("../imgs/undead.gif");
    background-position: center;
    background-repeat: no-repeat;
}
.dead-menu:hover .dead-pic{
    background-image: url("../imgs/undeadBright.gif");
    transition: all 1s ease-in-out;
}

.dead-menu:not( :hover ) .dead-pic{
    background-image: url("../imgs/undead.gif");
    transition: all 1s ease-in-out;
}

.dead-menu:hover{
    border-top: 3px solid rgba(115, 25, 97, 0.94);
    border-bottom: 3px solid rgba(115, 25, 97, 0.94);;
    transition: all 1s ease-in-out;
}
.dead-menu:not( :hover ){
    border-top: 3px solid #dce9eb;
    border-bottom: 3px solid #dce9eb;
    transition: all 1s ease-in-out;
}

.dead-title{
    color: rgba(115, 25, 97, 0.94);
    font-weight: bold;
}
